<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.label :age %><br />
      <%= f.number_field :age, class: 'form-control' %>
     
      <%= f.label :gender %><br />
      <div class="radio-inline "><%= f.label :gender, 'male' %><%= f.radio_button :gender, 'male', checked: true %> </div>
      <div class="radio-inline"><%= f.label :gender, 'female'%><%= f.radio_button :gender, 'female' %> </div>
      <div class="radio-inline"><%= f.label :gender, 'other' %><%= f.radio_button :gender, 'other' %> </div><br />
    
      <%= f.label :occupation %><br />
      <%= f.select :occupation, options_for_select([['Student' ,'Student'], ['Self employed', 'Self employed'], ['Unemployed', 'Unemployed'], ['Employee', 'Employee']]), include_blank: true %>

      <%= f.submit "Create my account", class: "btn btn-primary" %> 
    <% end %>
  </div>
</div>